name: Release

on:
  push:
    branches:
      - master
    tags:
      - v*.*.*

concurrency:
  group: release-${{ github.ref }}

jobs:
  create-github-release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Extract changelog
        run: |
          git diff HEAD~1 HEAD --exit-code -- CHANGELOG.md | \
          tail -n +5 | \
          grep -E "^\+" | \
          sed -E 's/^\+//' | \
          cat -s \
          > /tmp/changelog.txt

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.BOT_PAT }}
          body_path: /tmp/changelog.txt

  update-go-module-index:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      # https://pkg.go.dev/about#adding-a-package
      - name: Request proxy.golang.org to update go module index
        env:
          MODULE_NAME: github.com/logto-io/go
        run: |
          curl "https://proxy.golang.org/$MODULE_NAME/@v/${GITHUB_REF#refs/*/}.info"
